<div id="aboutpage">
	<figure>
    	<img src="images/about.png"  alt="We are classic">
    <figcaption>We aren't this old but we are probably using the same type of camera used to take this photograph.</figcaption>
    </figure>
    
    <p>Lumen Camera Repair is a collective of film camera fanatics who are fueling a fervor for analog picture taking methods. The group came to fruition under the name Lumen in 2010 and have been stoking the vintage technique of film photography ever since. We formed in Florida's largest city of Jacksonville and have taken it upon ourselves to connect with a large and varietous audience.</p>
      
    <p>We try to offer only our most refined services to our customers which ranges from repairing medium and large format film cameras, to developing a professional grade photographic print. At our boutique we offer a range of bags, lenses, and camera accessories along with film and expert service.</p>
    
    <p>Along with products and proficient advice, we connect our customer base to an array of workshops, lectures, and gallery events. Due to our staff's extensive history with film photography, we have created a goliath network of experts who wrestle a range of topics ranging from todays top analog photography hurdles, down to simple ways to improvise and spice up your own film photography skills.</p>
        
    <p>At Lumen, we are aimed at providing the contemporary art community with the best service and advice there is to offer.</p>

</div>