<div id="events">

	<figure>
    
    	<img src="images/events.jpg"  alt="Photo Art Gallery Opening">
    	
        <figcaption>
     	
            <h3>April 4th</h3>
            <p>One of our workers, Lana Melrose, will be having a recent series she developed on display at her studio in CorK Art District.</p>
        
        </figcaption>

    </figure>
    
    <figure>
    
    	<img src="images/lecture.jpg" alt="Film photography lecture">
        
    	<figcaption>
        
     		<h3>April 29th</h3>
    <p>Because the art of film photography is extensive and varied, we have decided to bring in Peter Nguyen to derive simpler, and more approachable techniques for a wider audience. He will be talking about how to make film photography a feasable hobby for you and how to turn it into a living.
    </p></figcaption>
    </figure>
    <figure>
    <img src="images/visiting-artist.jpg" alt="Arthur Duke">
    <figcaption>
     <h3>May 18th</h3>
    <p>Our friend Arthur Duke, renowned large film format expert, comes to talk about his recent series, "A World Behind".
    </p></figcaption>
    </figure>
    <figure>
    <img src="images/develop-workshop.jpg" alt="A film developing workshop">
    <figcaption>
     <h3>June 2nd</h3>
    <p>We know that taking the perfect picture is half the battle but how do you conquer the second half? We were able to get in contact with our friend Taylor Robinowitz, a savant in the processes of film photo development, to produce a workshop for the art of burning and dodging your photo prints to perfection.
    </p></figcaption>
    </figure>
    <figure>
    <img src="images/chemicals.jpg" alt="Film developing chemicals">
    <figcaption>
     <h3>June 20th</h3>
    <p>There are a surplus amount of chemicals to deal with when developing film photo prints. In this lecture, we will be showing you the ones you can use, should use, and how to dispose of them when you're done.
    </p></figcaption>
    </figure>
    
    </div>
    