<article class="lumen-index">
		<div id="slider">
    <!--This is the new JavaScript functionalities-->
        <ul class="example-orbit" data-orbit>
            <li>
                <a href="/products"><img src="images/accessories.jpg" data-thumb="images/accessories.jpg" alt="Camera Accessories" title="From bags to lenses, flashes and straps, Lumen has you covered." /></a>
                <div class="orbit-caption">
                	From bags to lenses, flashes and straps, Lumen has you covered.
                </div>
            </li>
            <li class="active">
            	<a href="/services"><img src="images/repair.jpg" data-thumb="images/repair.jpg" alt="Camera Repair" title="There's nobody in town that can fix cameras quite like we do." /></a>
            	<div class="orbit-caption">
            		There's nobody in town that can fix cameras quite like we do.
            	</div>
            </li>
            <li>
            	<a href="/events"><img src="images/events.jpg" data-thumb="images/events.jpg" alt="Film Art Gallery" title="Information on gallery openings, classes, and workshops." data-transition="slideInLeft" /></a>
            	<div class="orbit-caption">
            	There's nobody in town that can fix cameras quite like we do.   
           		</div>
            </li>
        </ul>
    <!---->
    
    </div>

    <div class="small-12 medium-12 large-12 columns">
                    
        <div id="compdescription">
            
            <div class="small-12 medium-12 large-6 columns">
                <img src="images/camera.png" alt="Lumen Camera Repairs">
            </div><!--This ends the div class for the img src="images/camera.png"-->
                   
            <h1>An Analog Camera Company</h1>
                    
            <h2>with much more to offer...</h2>
            
            <div class="small-12 medium-12 large-6 columns">        
                <p>At Lumen, we strive for servicing the surrounding community with the most professional and expert camera repair techniques and film developing processes. We are giving you the best help with your analog camera and connecting you with a strong film community. We are connected with multiple experienced film savants who are helping us to create workshops and lectures to better teach you about the things we do best.</p>
            </div><!--This ends the div class containing the p tag. (This ends the second div class="small-12 medium-12 large-6")-->
                    
        </div><!--This ends the div id="compdescription"-->
    
    </div><!--contains the div id="compdescription". (This ends the first div class="small-12 medium 12 large-12")-->
    
    <div class="small-12 medium-12 large-6 columns">
        <div id="emailsubmit">
            
            <form method="post" action="thankyou.html">
            <!--<div class="small-12 medium-8 large-8 columns">-->
                <fieldset>
                
                    <legend>Stay in touch</legend> 
                	
                    	<!--<div class="small-12 medium-12 large-12 columns">-->
                    		<label for="Info">Sign up to our mailing list and we’ll keep you up to date on products, repair specials, and special events in our area.</label>
                        <!--</div><!--contains the <label for="Info">. (This ends the div class="small-12 medium-8 large-8")-->
                        
                        <input type="email" id="Info" placeholder="Your e-mail">
                        
                    	<!--<div class="small-6 medium-4 large-4 columns">-->
                        	<input type="submit">
                        </div>
                        
                     <!--</div><!--contains the <label for="Info"> and input. (This ends the div class="small-12 medium-8 large-8")-->   
                </fieldset>
                
            </form>
            
        </div><!--This ends the div id="emailsubmit"-->

	</div><!--This is div id="emailsubmit". (This ends the div class="small-12 medium-12 large-12 columns")-->
    
</article>