<div class="container">

	<div class="slider-wrapper theme-default">
    
    	<div id="slider" class="nivoSlider">
        
                <a href="/products"><img src="images/accessories.jpg" data-thumb="images/accessories.jpg" alt="Camera Accessories" title="From bags to lenses, flashes and straps, Lumen has you covered." /></a>
                <a href="/services"><img src="images/repair.jpg" data-thumb="images/repair.jpg" alt="Camera Repair" title="There's nobody in town that can fix cameras quite like we do." /></a>
                <a href="/events"><img src="images/events.jpg" data-thumb="images/events.jpg" alt="Film Art Gallery" title="Information on gallery openings, classes, and workshops." data-transition="slideInLeft" /></a>
            
		</div>
            
        <div id="compdescription">
        
        	<img src="images/camera.png" alt="Lumen Camera Repairs">
            
            <h1>An Analog Camera Company</h1>
            
            <h2>with much more to offer...</h2>
            
            <p>At Lumen, we strive for servicing the surrounding community with the most professional and expert camera repair techniques and film developing processes. We are giving you the best help with your analog camera and connecting you with a strong film community. We are connected with multiple experienced film savants who are helping us to create workshops and lectures to better teach you about the things we do best.</p>
            
        </div>
        
        <div id="emailsubmit">
        
        <form method="post" action="thankyou.html">
        
        	<fieldset>
            
        	<legend>Stay in touch</legend> 
            
        	<label for="Info">Sign up to our mailing list and we’ll keep you up to date on products, repair specials, and special events in our area.</label><input type="email" id="Info" placeholder="Your e-mail"><input type="submit">
            
        	</fieldset>
            
        </form>
        
        </div>
        
    </div>
    
</div>

<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>