<div id="products">

	<h1>We are your vintage camera resource.</h1>
    
    
    	<div id="cameras">
        <img src="../images/camera-products.png" alt="Vintage Camera Resource">
        <div class="small-12 medium-6 large-6">
        	<h2>Quality film cameras</h2>
        		<p>We are constantly recieving and refurbishing used film and large format cameras so that you can can take the varied, alternative, and authentic photos you want. Not only do our cameras run as if they were picked off the shelves a week ago, we will be happy and willing to teach you how to use any mechanism you are unsure of to ensure you are comfortable and at ease with your camera.</p>
		</div>
    </div>
    
    
    	<div id="accessories">
        
        <img src="../images/accessories.png" alt="Accessories galor">
        <div class="small-12 medium-6 large-6">
        	<h2>Lenses, Bags, Flashes, and more.</h2>
        		<p>You couldn't walk out of a vintage camera store without taking away a vintage bag or carrying case for your camera equipment. We work with hand-crafted products to give our customers a wholesome unique purchase. Carrying so many cameras also means we carry a diverse range of lenses and flashes to fit any film camera you bring our way.</p>
    	</div>
   	</div>
    
    
    	<div id="film">
         <img src="../images/develop-film.png" alt="Develop Film with us">
         <div class="small-12 medium-6 large-6">
        	<h2>Vintage and authentic film types.</h2>
            
        	<p>Due to the substantial amount of effort we put into giving you a camera that works for you, we have to supply a light sensitive material to expose your pictures on. From medium to large format, black and white or color, we'll have film ready for you.</p>
            
           
        </div>         
    </div>
    
</div>