<div id="registerpage">

	<form method="post" action="thankyou.html">
	
    <fieldset>
    
        	<legend>Sign Up</legend>
            
        	<div class="formline-register">
            
            	<label for="email">E-Mail</label>
                <input type="text" id="email" placeholder="Your e-mail">
            
            </div>
                
        	<div class="formline-register">
            
            	<label for="password">Password</label>
                <input type="text" id="password" placeholder="Your password">
                
            </div>
            <input type="submit">
            
	</fieldset>
    
    
    
        </form>
        
</div>