<div id="services">

	<h1>Find out what we can do for you.</h1>
    <div id="repairservices">
    <img src="../images/camera-repair.png" alt="We'll repair it">
    <div class="small-12 medium-6 large-6 columms">
    
        
        <h2>Send us your broken camera.</h2>
        
        <p>With our widespread knowledge of the film camera industry comes an intimate understanding of camera mechanisms. We have the tools and resources available to fix your film camera, whether it be mending a tattered bellows for your large format or a correcting a faulty aperture in your medium format. Print and mail in your <a href="/services/repair">Repair Form</a> with your camera.</p>
        
	</div>
    </div>
    <div id="developservices">
    <img src="../images/develop.png" alt="Let us develop your film">
    
   
    	
        <h2>We'll develop your film too.</h2>
        
        <p>Our expert developing staff at Lumen will not only develop your photo, they will treat it as though they had taken the photo themselves and supplement a print that is an example of such. Print and mail in your <a href="/services/develop">Developing Form</a> with your rolls of film or slides.</p>
           
	
    
</div>
</div>